.content {
  background: rgba(98, 98, 98, 0.4);
  color: #ddd41a;
  border: none;
  font-size: 30px;
  border-radius: 7px;
}
* {
  font-family: verdana;
}
body {
  background: linear-gradient(to left, #e91e63, #3f51b5);
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.inputText {
  display: block;
  background: rgba(98, 98, 98, 0.4);
  color: #ddd41a;
  border: none;
  font-size: 30px;
  border-radius: 7px;
}
.inputText p {
  color: #ddd41a;
  text-align: center;
  font-size: 55px;
  margin: 1px;
  padding: 1px;
}
.grid {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 500px;
  width: 300px;
  margin-top: 5%;
  grid-gap: 10px;
}
.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  grid-gap: 3px;
}
button {
  background: rgba(98, 98, 98, 0.4);
  color: #ddd41a;
  border: none;
  font-size: 30px;
  border-radius: 7px;
}
button:hover {
  background: rgba(98, 98, 98, 0.7);
}
button:active {
  background: rgba(98, 98, 98, 0.4);
}
