* {
  font-family: verdana;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px 75px repeat(5, 250px) 500px;
  max-width: 1440px;
  margin: auto;
  grid-gap: 5px;
}

.header {
  display: block;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 6;
  margin: 0;
  padding: 0;
}

.navBar {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-template-columns: 1fr 3fr 1fr;
}

.nav {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  color: #687078;
}

.nav a:hover {
  color: #2b2e31;
}

.genres {
  display: grid;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
  background: #687078;
  border-radius: 20px;
}

.featured {
  display: grid;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 88%;
  grid-gap: 10px;
}

.feat_head {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}

h2 {
  color: #243447;
  font-size: 45px;
  margin: 0px;
  padding: 0px;
}

.movie_1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: center;
  justify-items: center;
}

.movie_1 img {
  height: 100%;
  border-radius: 5%;
  animation: out .56s;
}

.movie_1 a {
  height: 97%;
  border-radius: 5%;
}

.movie_2 {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  align-items: center;
  justify-items: center;
}

.movie_2 img {
  height: 100%;
  border-radius: 5%;
  animation: out .56s;
}

.movie_2 a {
  height: 97%;
  border-radius: 5%;
}

.movie_3 {
  display: grid;
  grid-column: 3/4;
  grid-row: 2/3;
  align-items: center;
  justify-items: center;
}

.movie_3 a {
  height: 97%;
  border-radius: 5%;
}

.movie_3 img {
  height: 100%;
  border-radius: 5%;
  animation: out .56s;
}

.movie_display img {
 
}

.movie_display:hover {
  animation: in .56s;
  animation-fill-mode: forwards;
}

@keyframes in {
  from {
    transform: scale(1);
  } to {
    transform: scale(1.05);
  }
}

@keyframes out {
  from {
    transform: scale(1.05);
  } to {
    transform: scale(1);
  }
}


.vidReviews{
  display: grid;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 78%;
  background: #243447;
  border-radius: 20px;
}
.vidReviews h2 {
  color: #fff;
  font-size: 45px;
  margin: 0px;
  padding: 0px;
}

.vid_head {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
  align-items: center;
  justify-items: center;
}

.header_sep {
  display: grid;
  height: 150px;
  grid-template-columns: 1fr 5fr;
}

.logo {
  height: 93%;
}

h1 {
  text-align: center;
  font-size: 130px;
  margin: 0px;
  padding: 0px;
  color: #243447;
  margin-right: 23%;
}

.trailer {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.trailer iframe {
  height: 80%;
  width: 90%; 
  border-radius: 20px;
  border: 0;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  15% 80%;
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 6;
  align-items: center;
  justify-items: center;
}

.creator_review_header {
  grid-column: 2/3;
  grid-row: 1/2;
}

.login_modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px;
  align-items: center;
  justify-items: center;
}

.login_modal button {
  width: 50%;
}

/* login */
.modal {
  border-radius: 30px;
}

.login_modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.login_modal button {
  width: 50%;
}

/* Genres */
.genres {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
}

.genres h4 {
  font-size: 40px;
  color: #fff;
}

.genres button {
  height: 40%;
  width: 70%;
  border: none;
  border-radius: 15px;
  background: #fff;
  font-size: 25px;
  color: #243447;
}

.genres button:hover {
  background:  #243447;
  color: #fff;
}

.genres button:active {
  background: #fff; 
  color: #243447;
}

/*Review */
.user_reviews {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.creator_reviews {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.review {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background: #243447;
  height: 90%;
  width: 90%;
  border-radius: 25px;
  overflow: scroll;
  color: #ccc;
}

.reviewTitle {
  margin-left: 10px;
}

.reviewContent {
  margin-right: 10px;
}



