* {
  background: #243447;
  color: #939fad;
  font-family: 'Staatliches', cursive;
}
h1 {
  color: #ffffff;
}
p {
  color: #939fad;
}
.wrapper {
  display: grid;
  max-width: 2048px;
  max-height: 800px;
  margin: 0;
  padding: 0;
  grid-template-rows: 40px 500px 160px;
  margin: auto;
}
.nav {
  display: grid;
  grid-template-columns: 5fr 5fr;
  height: 40px;
  align-items: center;
}
.nav .menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}
.nav .menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}
.nav img {
  height: 40px;
  padding-left: 28px;
}
.header {
  display: grid;
  text-align: center;
  height: 500px;
  width: 100%;
}
.header .headerText h1 {
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-size: 75px;
}
.header .headerText h2 {
  padding-top: 0;
  margin-top: 2px;
  font-size: 50px;
}
.btns {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}
.btns .middle {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
}
.btns .middle .myBtns {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #fff;
  margin: 0;
  border-radius: 30%;
  color: #3498db;
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 15px -5px #182330;
}
.btns .middle .myBtns:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.btns .middle .myBtns i {
  line-height: 70px;
  font-size: 35px;
  background: transparent;
  transition: 0.2s linear;
}
.btns .middle .myBtns::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #c51f5d;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btns .middle .myBtns:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
@media (max-width: 1125px) {
  .wrapper {
    grid-template-rows: 100px 1500px 250px 70px;
  }
  .header {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 400px;
  }
  .header .headerText h1 {
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 250px;
  }
  .header .headerText h2 {
    padding-top: 0;
    margin-top: 2px;
    font-size: 200px;
    margin-bottom: 0px;
  }
  .nav {
    grid-template-columns: 2fr 8fr;
  }
  .nav img {
    height: 100px;
  }
  .nav .menu a {
    font-size: 75px;
    color: #939fad;
  }
  .btns {
    margin-top: 0px;
  }
  .btns .middle .myBtns {
    display: inline-block;
    width: 250px;
    height: 250px;
  }
  .btns .middle .myBtns:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .btns .middle .myBtns i {
    line-height: 180px;
    font-size: 180px;
    background: transparent;
    transition: 0.2s linear;
    padding-top: 35px;
  }
  .btns .middle .myBtns::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #c51f5d;
    transfofrm: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btns .middle .myBtns:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
}
